.card {
  align-content: center;
  border: 1px solid gray;
  border-radius: 6px;
  margin-bottom: 2em;
  margin-right: 2em;
  overflow: hidden;
}

.card p {
  padding: 2em;
  text-align: center;
}

.card img {
  max-height: 150px;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
